/* Esential CSS 
--------------------------------------*/
* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}
body {
  margin: 0 10%;
}

img {
  max-width: 100%;
  width: 100%;
  height: auto;
}

/* Header Area CSS 
--------------------------------------*/

.container {
  position: relative;
  text-align: center;
  color: white;
}
#heading-text {
  font-weight: 900;
  font-size: 2rem;
}

.center-texts {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

button {
  text-decoration: none;
  cursor: pointer;
  color: white;
  background-color: #ff5959;
  height: 45px;
  width: 120px;
  border: none;
  border-radius: 5px;
  margin: 20px;
}

/* Middile Area CSS 
------------------------------- */

.middle-area {
  text-align: center;
  margin: 40px;
}

.donate-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.donate-box {
  text-align: center;
  height: 60px;
  width: 160px;
  line-height: 60px;
  color: white;
  margin: 30px 20px;
  background-color: #fafafa;
  color: gray;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}

.donate-box.selected {
  color: #ff5959;
  background-color: #ffeeee;
  border: 2px solid;
}

.other-amount {
  text-align: center;
  text-decoration: none;
  padding: 5px 5px;
  border: none;
  border-bottom: 1px solid grey;
}

/* Donate Plan Area CSS */

.donate-plan {
  text-align: center;
}

.donate-plan-container {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.donate-plan-item {
  text-align: center;
  width: 40vw;
  height: 35vh;
  margin: 20px;
}

.donate-plan-item.one {
  background-color: #edf5f6;
}
.donate-plan-item.two {
  background-color: #ffeeee;
}
.donate-plan-item.three {
  background-color: #fff4d6;
}

.donate-plan-item p {
  font-size: 1rem;
}

.donate-plan-item img {
  height: auto;
  width: 40px;
  display: block;
  padding: 30px 10px;
}

/* Scenario area CSS */

.half-container {
  display: flex;
  flex-direction: row;
  align-items: left;
  text-align: justify;
  justify-content: left;
  flex-wrap: wrap;
  margin: 50px 0;
}

.half-items {
  width: 45%;
  padding: 2%;
  display: block;
}

.half-items p {
  text-align: justify;
}

.half-items img {
  width: 100%;
  height: 35vh;
}
.contribute-btn {
  width: 150px;
  margin: 20px 0;
}
/* Feedback Section  */

section h3 {
  text-align: center;
}

section p {
  text-align: justify;
}

.news-letter {
  text-align: center;
  background-color: #fff4d6;
  height: 200px;
  line-height: 200px;
  border-radius: 5px;
  margin: 40px 0;
}

.news-letter input {
  border: none;
  border-radius: 5px;
  height: 48px;
  padding: 0px 5px;
}

.sub-btn {
  margin: 0;
}

footer {
  text-align: center;
  color: #edf5f6;
  background-color: #0b0d17;
  height: 75px;
  padding-top: 40px;
}

footer h4 {
  color: #ff5959;
  font-weight: 900;
  font-size: 25px;
  font-style: italic;
}
